.navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: grey;
    color: white;
}

.react {
    font-weight: bold;
}
.linkProduct {
    padding-right: 24px;
}
.span {
    padding:12px 24px 12px 16px;
}
